<!DOCTYPE html>
<html>
  <body
    style="
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      padding: 20px;
    "
  >
    <div
      style="
        max-width: 600px;
        margin: auto;
        background-color: #ffffff;
        padding: 30px;
        border-radius: 6px;
      "
    >
      <h2 style="color: #219ebc">Verify Your Account</h2>
      <p>Hello {user_name},</p>
      <p>Use the following One-Time Password (OTP) to verify your account:</p>
      <div
        style="
          font-size: 24px;
          font-weight: bold;
          background-color: #f0f0f0;
          padding: 10px 20px;
          margin: 20px 0;
          border-radius: 5px;
          text-align: center;
        "
      >
        {otp}
      </div>
      <p>This code will expire in 10 minutes.</p>
      <p>If you didn’t request this, please ignore this email.</p>
      <p>Regards,<br />Confe Team</p>
    </div>
  </body>
</html>
